<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>log_in</servlet-name>
    <servlet-class>log_in</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log_in</servlet-name>
    <url-pattern>/log_in</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reg_account</display-name>
    <servlet-name>reg_account</servlet-name>
    <servlet-class>reg_account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reg_account</servlet-name>
    <url-pattern>/reg_account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>aggiunta_carrello</display-name>
    <servlet-name>aggiunta_carrello</servlet-name>
    <servlet-class>aggiunta_carrello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aggiunta_carrello</servlet-name>
    <url-pattern>/aggiunta_carrello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>opzioni_da_carrello</display-name>
    <servlet-name>opzioni_da_carrello</servlet-name>
    <servlet-class>opzioni_da_carrello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>opzioni_da_carrello</servlet-name>
    <url-pattern>/opzioni_da_carrello</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>checkout_data</display-name>
    <servlet-name>checkout_data</servlet-name>
    <servlet-class>checkout_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkout_data</servlet-name>
    <url-pattern>/checkout_data</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>checkout</display-name>
    <servlet-name>checkout</servlet-name>
    <servlet-class>checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkout</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>edit_profile</display-name>
    <servlet-name>edit_profile</servlet-name>
    <servlet-class>edit_profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit_profile</servlet-name>
    <url-pattern>/dashboard/pages/edit_profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pulizia_carrelli</display-name>
    <servlet-name>pulizia_carrelli</servlet-name>
    <servlet-class>pulizia_carrelli</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pulizia_carrelli</servlet-name>
    <url-pattern>/dashboard/pages/pulizia_carrelli</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>aggiorna_ordini</display-name>
    <servlet-name>aggiorna_ordini</servlet-name>
    <servlet-class>aggiorna_ordini</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aggiorna_ordini</servlet-name>
    <url-pattern>/dashboard/pages/aggiorna_ordini</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cancella_prodotto</display-name>
    <servlet-name>cancella_prodotto</servlet-name>
    <servlet-class>cancella_prodotto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancella_prodotto</servlet-name>
    <url-pattern>/dashboard/pages/cancella_prodotto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>trova_prodotto</display-name>
    <servlet-name>trova_prodotto</servlet-name>
    <servlet-class>trova_prodotto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trova_prodotto</servlet-name>
    <url-pattern>/dashboard/pages/trova_prodotto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifica_prodotto</display-name>
    <servlet-name>modifica_prodotto</servlet-name>
    <servlet-class>modifica_prodotto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifica_prodotto</servlet-name>
    <url-pattern>/dashboard/pages/modifica_prodotto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nuovo_prodotto</display-name>
    <servlet-name>nuovo_prodotto</servlet-name>
    <servlet-class>nuovo_prodotto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nuovo_prodotto</servlet-name>
    <url-pattern>/dashboard/pages/nuovo_prodotto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gestione_utenti</display-name>
    <servlet-name>gestione_utenti</servlet-name>
    <servlet-class>gestione_utenti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gestione_utenti</servlet-name>
    <url-pattern>/dashboard/pages/gestione_utenti</url-pattern>
  </servlet-mapping>
</web-app>